<ion-view title="AHSEB FTIT">
	<!-- Sub header -->
	<ion-header-bar class="bar bar-subheader">
		<i class="icon ion-chevron-left" style="float: left"></i>
		<h2 class="title">Illum, 8 ta' Novembru</h2>
		<i class="icon ion-chevron-right" style="float: right"></i>
	</ion-header-bar>
	<!-- Content -->
    <ion-content padding="true">
		<div class="spacer"></div>
        <img src="/img/praying.jpg" width="100%" height="auto">
        <h4>Ghalfejn din il-biza kollha?</h4>
        <div>
            <p>Nafu li Gesu' "ghadu ma giex" ghal parti kbira mill-umanita'; gie f'xi popli imma mhux f'kollha: ghadu mhux maghruf minn kulhadd. Hemm inhawi fid-dinja li ghalihom Gesu qatt ma twieled. Il-Gisem Mistiku ta' Kristu ghadu ma lahaqx il-milja
                tieghu, kif jghid San Pawl: "il-pagani huma msejha biex ikollhom sehem mill-istess gisem" (Ef 3,6)..."Jieen issa</p>
        </div>
    </ion-content> 
</ion-view> 