<ion-view title="AĦSEB FTIT">
	<!-- Sub header -->
  <ion-content padding="false">
    <ion-slide-box active-slide="activeSlide" on-slide-changed="slideHasChanged($index)" delegate-handle="slideBoxHandle" show-pager="false">
      <ion-slide ng-repeat="thought in thoughts">
        <!-- Date -->
        <!-- Image -->
        <div style="position: relative">
          <img src="img/praying.jpg" style="position: relative; width: 100%; height: auto; margin-bottom: -7px; ">
          <div class="overlay">
            <div class="icon ion-ios-arrow-back" style="float:left; font-size:1.4em; color: #FFFFE0!important" ng-click="previous()">

            </div>
            <h4 class="overlay-title" style="float:left;">
              {{thought.t_newfriendlyDate}}
            </h4>
            <div class="icon ion-ios-arrow-forward" style="float:right; font-size:1.4em; color: #FFFFE0!important" ng-click="next()">

            </div>
          </div>
        </div>

        <div marked="activeThought" class="padding"></div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>
