<ion-view title="IKTAR DETTALJI">
    <ion-content padding="true" class="has-header">
	<div class="list">
	  <div class="item item-divider">
		Hajr
	  </div>
	  <div class="item">
		Produzzjoni:  Oratorju MSSP, B'Kara
	  </div>
	  <div class="item">
		Riflessjonijiet:  Mexxejja taz-Zghazagh
	  </div>
	  <div class="item">
		Testi:  Ghaqda Biblika Maltija
	  </div>
	  <div class="item">
		Awdjo-vizwali:  CAM Productions International
	  </div>
	  <div class="item item-divider">
		Kuntatt
	  </div>
	  <div class="item item-icon-left">
		<i class="icon ion-ios-telephone"></i>
		+356 2144 1917
	  </div>
	  <div class="item item-icon-left">
		<i class="icon ion-email"></i>
		contact@oratorjumssp.org
	  </div>
	</div>
    </ion-content>
</ion-view>


