<ion-view title="DETTALJI">
    <ion-content padding="true" class="has-header">
	<div class="list">
	  <div class="item item-divider">
		Ħajr
	  </div>
	  <div class="item">
		Produzzjoni:  MSSP
	  </div>
    <div class="item">
    Applikazzjoni tal-Mobajl:  Telos Works
    </div>
    <div class="item">
		Riflessjonijiet:  Lajċi Oratorju MSSP
	  </div>
	  <div class="item">
		Testi:  Għaqda Biblika Maltija
	  </div>
	  <div class="item">
		Awdjo-viżwali:  ĊAM Productions International
	  </div>
    <div class="item">
    Ittajpjar tat-testi:  Angela Chetcuti
    </div>
    <div class="item">
    Ritratti:  Jasmine Agius
    </div>
	  <div class="item item-divider">
		Kuntatt
	  </div>
	  <!--<div class="item item-icon-left">
		<i class="icon ion-ios-telephone"></i>
		+356 2144 1917
	  </div>-->
	  <div class="item item-icon-left">
		<i class="icon ion-email"></i>
		Telos Works:  info@telosworks.com
	  </div>
    <div class="item item-icon-left">
    <i class="icon ion-email"></i>
    MSSP:  clintonfarrugia@mssp.org.mt
    </div>
	</div>
    </ion-content>
</ion-view>


