<ion-view title="MIXJA">
  <ion-content padding="false" class="has-header" scroll="false">
    <a href="#/app/kelma" style="position: relative;">
      <img class="full-image" style="" src="img/menu_kelma.png">
      <div class="overlayHome">
        <h4 class="overlay-home">
          IL-KELMA
        </h4>
      </div>
    </a>
    <a href="#/app/ahseb" style="position: relative;">
      <img class="full-image" style="" src="img/menu_ahseb.png">
      <div class="overlayHome">
        <h4 class="overlay-home">
          IL-ĦSIEB
        </h4>
      </div>
    </a>
    <a href="#/app/rizorsi" style="position: relative;">
      <img class="full-image full-image-bottom"style="" src="img/menu_rizorsi.jpg">
      <div class="overlayHome">
        <h4 class="overlay-home overlay-home-bottom">
          RIŻORSI
        </h4>
      </div>
    </a>
  </ion-content>
</ion-view>
