<ion-view title="MIEGĦEK FIL-MIXJA">
  <ion-content padding="false" class="has-header" scroll="false">
    <a href="#/app/kelma" style="position: relative;">
      <img class="full-image" style="min-height: 33%!important; max-height: 34%!important;" src="img/bible.jpg">
      <div class="overlayHome">
        <h4 class="overlay-home">
          IL-KELMA
        </h4>
      </div>
    </a>
    <a href="#/app/ahseb" style="position: relative;">
      <img class="full-image" style="min-height: 33%!important; max-height: 34%!important;" src="img/praying.jpg">
      <div class="overlayHome">
        <h4 class="overlay-home">
          IL-ĦSIEB
        </h4>
      </div>
    </a>
    <a href="" style="position: relative;" ng-click="rizorsi()">
      <img class="full-image full-image-bottom"style="min-height: 33%!important; max-height: 34%!important;" src="img/resources.jpg">
      <div class="overlayHome">
        <h4 class="overlay-home overlay-home-bottom">
          RIŻORSI
        </h4>
      </div>
    </a>
  </ion-content>
</ion-view>
