<ion-view title="IL-KELMA" >
	<!-- Content -->
	<ion-content padding="false" style="position: absolute!important; top: 0px!important"; scrollbar-y="false">
		<ion-slide-box active-slide="activeSlide" on-slide-changed="slideHasChanged($index)" delegate-handle="slideBoxHandle" show-pager="false">
		<ion-slide ng-repeat="reading in readings">
		<!-- Date -->
		<!-- Image -->
		<div style="position: relative">
      <img src="img/bible.jpg" style="position: relative; width: 100%; height: auto; margin-bottom: -7px; ">
			<div class="overlay">
        <div class="icon ion-ios-arrow-back" style="float:left;font-size:1.4em; color: #FFFFE0!important" ng-click="previous()" ng-show="hasYesterday">

        </div>
      <h4 class="overlay-title" style="float:left;">
				{{reading.r_newfriendlyDate}}
			</h4>
        <div class="icon ion-ios-arrow-forward" style="float:right;font-size:1.4em; color: #FFFFE0!important" ng-click="next()" ng-show="hasTomorrow">

        </div>
      </div>
		</div>
        <!-- Button bar to choose date -->
        <div class="button-bar">
          <a class="button" ng-click="touch('0')" ng-class="{'active': isSelected == '0'}">I QARI</a>
          <a class="button" ng-click="touch('1')" ng-class="{'active': isSelected == '1'}">SALM</a>
          <a class="button" ng-click="touch('2')" ng-show="showReading" ng-class="{'active': isSelected == '2'}">II
            QARI</a>
          <a class="button" ng-click="touch('3')" ng-class="{'active': isSelected == '3'}">VANĠELU</a>
        </div>
		<!-- Reading -->
        <div marked="activeReading" class="padding"></div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>
