<ion-view title="Ghamel Kuntatt">
    <ion-content padding="true" class="has-header">
		<div class="spacer"></div>		
        <img src="img/map.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
		<div class="spacer"></div>		
        <div>
            <p>Oratorju MSSP, Triq San Giljan, Birkirkara, BKR 2806</p>
        </div>
        <div>
            <p>21441917</p>
        </div>
        <div>
            <p>
                <a href="mailto:contact@oratorjumssp.org">contact@oratorjumssp.org</a>
            </p>
        </div>
    </ion-content>
</ion-view>